#shop {
   background: url(../assets/images/shop.png) no-repeat center;
   background-size: cover;
   padding-top: 136px;
   padding-bottom: 130.42px;
}

.shop-fire {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 8px;
}

.shop-fire h3 {
   color: #57B8FF;
   font-size: 16px;
   line-height: 16px;
   text-transform: uppercase;
}

.shop-text {
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.shop-text h1 {
   max-width: 720px;
   color: #fff;
   font-size: 64px;
   line-height: 74px;
   text-transform: capitalize;
   padding-top: 22px;
   padding-bottom: 39px;
}

.shop-text p {
   max-width: 698px;
   color: rgba(223, 223, 223, 0.80);
   text-align: center;
   font-size: 20px;
   line-height: 32px;
   padding-bottom: 60.58px;
}

.shop-item {
   display: flex;
   justify-content: space-between;
   padding-bottom: 32px;
}

.shop-card {
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.15);
   max-width: 620px;
   padding: 35px 32px 32px 32px;
}

.card-header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 17.54px;
}

.shop-card h2 {
   color: #FFF;
   font-size: 32px;
   line-height: 42px;
   text-transform: capitalize;
}

.shop-card p {
   padding-left: 49.34px;
   color: rgba(223, 223, 223, 0.80);
   font-size: 18px;
   line-height: 28px;
   padding-top: 19px;
}